# CMake build files
[Bb]uild*/
[Cc]make*/
*.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# Executables and libraries
*.exe
*.dll
*.so
*.dylib
*.lib
*.a

# Object files
*.o
*.obj

# Other
*.log
*.swp
*~
.DS_Store

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vcxproj* 